@mixin remove-scrollbar() {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin line-clamp($lines: 5) {
  & {
    position: relative;
    //height: 2.4em;
    overflow: hidden;
  }

  &:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.2em;
    background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 1) 80%
    );
  }

  /* Now add in code for the browsers that support -webkit-line-clamp and overwrite the non-supportive stuff */
  @supports (-webkit-line-clamp: 5) {
    & {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }

    &:after {
      display: none;
    }
  }
}

