@import '@/assets/style/variables.scss';

@mixin remove-scrollbar() {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin line-clamp($lines: 5) {
  & {
    position: relative;
    //height: 2.4em;
    overflow: hidden;
  }

  &:after {
    content: '';
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.2em;
    background: linear-gradient(
                    to right,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 1) 80%
    );
  }

  /* Now add in code for the browsers that support -webkit-line-clamp and overwrite the non-supportive stuff */
  @supports (-webkit-line-clamp: 5) {
    & {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $lines;
      -webkit-box-orient: vertical;
    }

    &:after {
      display: none;
    }
  }
}

@mixin h1() {
  font-weight: 700;
  font-size: $h1-font-size;
  line-height: 44px;
  color: $gray-700;
}

@mixin h2() {
  font-weight: 700;
  font-size: $h2-font-size;
  line-height: 39px;
  color: $gray-700;
}

@mixin h3() {
  font-weight: $h3-font-style;
  font-size: $h3-font-size;
  line-height: 29px;
  color: $gray-700;
}

@mixin h4() {
  font-weight: $h4-font-style;
  font-size: $h4-font-size;
  line-height: 19px;
  color: $gray-700;
}

@mixin h5() {
  font-weight: $h5-font-style;
  font-size: $h5-font-size;
  line-height: 19px;
  color: $gray-700;
}

@mixin h6() {
  font-weight: $h6-font-style;
  font-size: $h6-font-size;
  line-height: 17px;
  color: $gray-700;
}

@mixin h7() {
  font-weight: $h7-font-style;
  font-size: $h7-font-size;
  line-height: 15px;
  color: $gray-700;
}

@mixin p2() {
  font-weight: 500;
  font-size: $p2-font-size;
  line-height: 22px;
  color: $gray-800;
}

@mixin p5() {
  font-weight: 400;
  font-size: $p5-font-size;
  line-height: 17px;
  color: $gray-800;
}

@mixin p6() {
  font-weight: 500;
  font-size: $p6-font-size;
  line-height: 17px;
  color: $gray-800;
}

@mixin card() {
  background: $base-white;
  box-shadow: $shadow-default;
  border-radius: $all-sides-2xl;
}

@mixin badge() {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  border: 0.5px solid $gray-400-vtb;
  border-radius: $all-sides-large;

  font-weight: $h7-font-style;
  font-size: $h7-font-size;
  line-height: 15px;
  color: $gray-600;
}

@mixin modalBlue() {
  background: $radiant-gradient-2-vtb;

  .close {
    fill: $base-white;
    stroke: $base-white;
  }
}

